nav{
    display: flex;
    justify-content: space-between;
    background-color: #6B81FF;
    
}

nav ul{
    width:50rem;
    display: flex;
    justify-content: space-evenly;
}

nav li{
    list-style-type: none;
    margin:1rem;
}
#logo{
    width:5rem;
}

.button{
    display: inline-block;
    background-color: whitesmoke;
    padding: 0.5rem;
    margin:auto;
    width:8rem;
    height:2rem;
    text-decoration: none;
    text-align: center;
}

section{
    background-color:#AAA080 ;
    
}
#hero{
    text-align: center;
    padding: 5rem;
}
#hero p{
    margin:auto;
    width:50%;
}

#section2{
    margin:1rem 0rem;
    padding:5rem ;
    display: flex;
    justify-content: space-around;

}

#section2 div{
    padding: 5rem;
    text-align: center;
    width:30%;
}

#section2 a{
    margin:2rem;
}

#section2 img{
    width:30rem;
    
}

#section3{
    margin: 1rem 0rem;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
        
}

#Grid{
    margin:3rem;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    place-items: center;
    width:auto;
    
    
    
    
}

.gridButton{
    text-decoration: none;
    text-align: center;
    background-color: whitesmoke;
    width:8rem;
    height:5rem;
    padding: 1rem;
    font-size: 25px;
}