body{
     font-family: 'Nunito', sans-serif; 
}




nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    width:100%;
    /* From https://css.glass */
        background: rgba(6, 32, 125, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(6, 32, 125, 0.54);
    
}



nav ul{
    width:50rem;
    display: flex;
    justify-content: space-evenly;
}

nav li{
    list-style-type: none;
    margin:1rem;
}
#logo{
    width:5rem;
}

.button{
    display: inline-block;
    background-color: whitesmoke;
    padding: 0.5rem;
    margin:auto;
    width:8rem;
    height:2rem;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 4px;
    transition: ease-in-out 0.5s;
}

section, footer{
    background-color:#AAA080 ;
    border-radius: 10px;
    
}
#hero{
    
    text-align: center;
    padding: 5rem;
    padding-top: 8rem;
}
#hero p{
    margin:auto;
    width:50%;
}

#section2{
    margin-top: 1rem;
    padding:5rem ;
    display: flex;
    justify-content: center;
    padding-top: 8rem;
    background-color: #e5e5f7;
    opacity: 0.8;
    
   

}

#waves-1{
    margin-top: -15rem;
    z-index: -1;
    width:100%;
    animation: waves_ondulate 10s linear infinite alternate;
    
    
}

@keyframes waves_ondulate{
    from{
        transform: translate3d(0,0,0);
    }
    to{
        transform: translate3d(0,20px,0);
    }
}

#waves-2{
    margin-top: -16rem;
    
    z-index: -2;
    width: 100%;
    animation: waves_ondulate_reverse 10s linear infinite alternate;
    
}

@keyframes waves_ondulate_reverse{
    from {
            transform: translate3d(0, 0, 0);
        }
    
        to {
            transform: translate3d(0, -20px, 0);
        }

}

#section2 div{
    padding: 5rem;
    text-align: center;
    width:30%;
}

#section2 a{
    margin:2rem;
}

#section2 img{
    width:30rem;
    
    
}

#talk-button:active{
   transform: rotate(-20deg)
}



#section3{
    margin: 0rem 0rem 1rem 0rem;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
    
        
        
}

#Grid{
    margin:3rem;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    place-items: center;
    width:auto;
    
    
    
}

#glass{
    margin-bottom: -23rem;
    z-index: 2;
    /* From https://css.glass */
        width:40rem;
        height:20rem;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        border: 1px solid rgba(255, 255, 255, 0.3);
}

#glass:hover{
    z-index:-1;
}

.gridButton{
    text-decoration: none;
    text-align: center;
    background-color: whitesmoke;
    width:8rem;
    height:5rem;
    padding: 1.8rem;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 3px 4px;
    transition: ease-in-out 0.5s;
}

footer{
    text-align: center;
    padding:2rem;
    padding-top: 8rem;

}

footer form{
    display:flex;
    flex-direction: column;
    margin:2rem 30rem;
}

footer form>button{
    width: 5rem;
    margin:2rem auto;
    height:2.5rem;
    border-radius: 10px;
    box-shadow: 3px 4px;
}

#footerLogo{
    margin-top: 1rem;
    width:5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 3px 4px;
    transition: ease-in-out 0.5s;
}

footer form>input, footer form>textarea{
    border-radius: 10px;
    
}

footer form>input{
    height:2rem;
}

p{
    font-size: 20px;
}

.button:hover,.gridButton:hover,form>button:hover{
    background-color: goldenrod;
}

footer a:hover,#footerLogo:hover{
    transform: scale(1.2,1.2);
}

#section2 img:hover{
    transform: rotate3d(1, 2, 3, 45deg);
}

#duck_link,#waves_link{
    display: block;
}